/* Insert normalize.css */

header{
    background-image: -webkit-linear-gradient(rgba(15, 125, 63, 0.8), rgba(24, 201, 101, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(15, 125, 63, 0.8), rgba(24, 201, 101, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

header>nav{
    display:flex;
    /* border-bottom: solid 2px white; */
}

ul{
    list-style: none;
    text-transform: uppercase;
    color:white;
    display: flex;
}

ul>li{
    margin: 1em 2em;
}

